body{
      background:linear-gradient(#6C5353, #353131) ;
}


body{
      font-family: "Libre Bodoni", serif;
}

article {
      /* mudar a cor do background */
      background-color: aqua;
      margin-bottom: 16px;
      border-radius: 32px;
      padding: 14px;
      border: 4px, solid orange;
}

article img{
      border-radius: 29px;
      width: 100%;
}

article h3{
      font-size: 24px;
      margin-top: 8px;
      margin-bottom: 4px;
}

article p {
      margin-bottom: 28px;
}

article a{
      /* mudar cor */
      background-color: #6C5353;
      border-radius: 24px;
      width: 100%;
      display: block;
      padding-top: 14px;
      padding-bottom: 14px;
      text-align: center;
      color: azure;
}


section form{
      border-radius: 16px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 16px;
      padding-right: 16px;

      /* deixa os elementos flexíveis */
      display: flex;

      /* muda a direção dos elementos dentro da caixa flexível */
      flex-direction: column;
      gap: 6px;



      /* remover */
      background-color: blue;
}

div{
      display: flex;
      flex-direction: column;
      gap: 12px;
}

label{
      /* mudar */
      font-size: 14px;
}

input, textarea{
      border: 2px solid rgb(210, 202, 202);
      border-radius: 20px;
      padding: 13px;
      background-color: #6C5353;
      color: #D5B7B7;
}

textarea{
      height: 128px;
      font-family: "Libre Bodoni", serif;
}

button{
      height: 48px;
      border-radius: 24px;
      border: none;
      background-color: aliceblue;
      font-size: 14px;
      color: black;
      font-weight: 600;
}

::placeholder{
      color: rgb(151, 156, 161);
}

footer{
      background-color: #D5B7B7;
      padding: 20px;
}

footer ul{
      display: flex;
      gap: 8px;
      justify-content: center;
}

footer p{
      text-align: center;
      margin-top: 8px;
}